.footer {
    font-size: 12px;
    font-weight: normal;
    letter-spacing:normal;
    font-family: Arial, Helvetica, sans-serif;
	color: $text-grey;
	
	&__banner {
		padding-bottom: rem(20px);
		border-top-width: 3px;
		border-top-style: solid;
		border-top-color: $background-light-grey;
	}
	

	// TODO convert to separate component file
	&__icons {
		display: flex;
		margin-top: -10px;
	}

	&__icon {
		padding-right: rem(20px);
	}

}