.footer {
	position: relative;
	overflow: visible;
    font-size: 12px;
    font-weight: normal;
    letter-spacing:normal;
    font-family: Arial, Helvetica, sans-serif;
	color: $text-grey;

	&:after {
		display: none;
		content: '';
		background-image: url($site-url + $images + 'background-shell.png');
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: auto;
		bottom: 0;
		right: 0;
		width: 877px;
		height: 559px;
		position: absolute;
		z-index: -1;

		@include breakpoint(large-tablet) {
			display: block;
		}
	}

	&__banner {
		padding-bottom: rem(20px);
		border-top-width: 3px;
		border-top-style: solid;
		border-top-color: $background-light-grey;
	}
	

	// TODO convert to separate component file
	&__icons {
		display: flex;
		margin-top: -10px;
	}

	&__icon {
		padding-right: rem(20px);
	}

}