#socialmediacontainer {
    height: 70px;
    width: 250px;
    padding-top: 10px;
    background-image: url($site-url + $images + 'socialmediacontainerbg.png');
    background-repeat: repeat-y;
    background-position: left top;
    padding-left: 10px;
    border-radius:5px;
}

.footertext {
    font-size: 12px;
    font-weight: normal;
    letter-spacing:normal;
    font-family: Arial, Helvetica, sans-serif;
    color: $text-grey;

    a {
        font-size: 12px;
        font-weight: normal;
        letter-spacing:normal;
        font-family: Arial, Helvetica, sans-serif;
        color: #745ba7;
        font-weight: bold;

        &:hover {
            color: #54388c;
            font-weight: bold;
        }
    }

}

#footer {
	height: 100px;
	background: transparent;
	padding: 100px 0px 30px 0px;
	width: 100%;
	float: left;
}


.footercredittext {
	font-size: 11px;
	font-weight: lighter;
	letter-spacing:normal;
	text-align: right;
	margin-right: 50px;
	line-height: 30px;
}

.gaswooshcontainer {
	width: 50px;
	height: 30px;
	position: absolute;
	display:block;
	top: 0px;
	right: 0px;
}

.atilogocontainer {
	width: 85px;
	height: 42px;
	position: absolute;
	display:block;
	top: -30px;
	left: 60px;
}

#toplinkcontainer {
	height: 60px;
	width: 40px;
	position: absolute;
	left: 0px;
	top: -30px;
}


#footer .right {
	text-align: right;
	padding: 0;
}

#footer .left {
    text-align: left;
    padding: 0;
}

#footer2 {
    height: 60px !important;
    padding: 0px;
    width: 100%;
    float: left;
    background-color: #000000;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #745ba7;
}