#content {
	width: 100%;
	margin: 0 auto;
	position: relative;
}





.content-block {
	width: 100%;
	position: relative;
	margin: 0px auto;
	}


.buybookbtn {
	height: 28px;
	width: 299px;
	overflow: hidden;
	display: block;
	background-image: url($site-url + $images + 'buybookbtn.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0;
	margin: 20px 0px 20px 0px;
	}

.buybookbtn:hover{
	background-position: center bottom;
	}


	.buycdbtn {
	height: 28px;
	width: 299px;
	overflow: hidden;
	display: block;
	background-image: url($site-url + $images + 'buycdbtn.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0;
	margin: 20px 0px 20px 0px;
	}

.buycdbtn:hover{
	background-position: center bottom;
	}



#discountpanel {
	width:540px;
	height:187px;
	float: right;
	padding: 30px 0px 0px 30px;
	margin: 0;
	background-image: url($site-url + $images + 'discountpanelbg.png');
	background-repeat: no-repeat;
	background-position: left top;
}

	.buydiscountbtn {
	height: 28px;
	width: 299px;
	overflow: hidden;
	display: block;
	background-image: url($site-url + $images + 'buydiscountbtn.png');
	background-repeat: no-repeat;
	background-position: center top;
	float:left;
	padding: 0;
	margin: 20px 0px 20px 0px;
	}

.buydiscountbtn:hover{
	float:left;
	background-position: center bottom;
	}





.notificationbtn {
	height: 66px;
	width: 299px;
	overflow: hidden;
	display: block;
	background-image: url($site-url + $images + 'notificationbtn.png');
	background-repeat: no-repeat;
	background-position: center top;
	float:left;
	padding: 0;
	margin: 20px 0px 20px 0px;
	}

.notificationbtn:hover{
	float:left;
	background-position: center bottom;
	}










.article-content { float: left; width: 100%; margin-bottom: 30px; }





.sidebar-item {
	float: left;
	width: 250px;
	margin-bottom: 30px;
	padding: 10px 25px 0 25px;
	}










