body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #7a7a7a;
    font-weight: normal;
    background-color: #ffffff;
    box-sizing: border-box;  
  }
  
  .wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
    

    &--responsive {
      width: 100%;
      max-width: rem(960px);
    }

  }
  
  .content-block {
    box-sizing: border-box;  
    padding: 0 rem(20px);
    @include  breakpoint(small-tablet-landscape) {
      padding: 0;
    }
  }


  /**
  * THESE STYLES SEEM VERY SPECIFIC...?
  * We should look into removing them if possible
  **/

  // this effects product description content on the product listing layout
  .content-block li {
    list-style: none;
    font-size: 13px;
    line-height:150%;
  }


  .image-overflow {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        z-index: -1;
    }
}