$h1FontSize: 3em;
$h2FontSize: 1.5em;
$h3FontSize: 1em;
$h4FontSize: 0.8em;
$h5FontSize: 0.7em;
$h6FontSize: 0.5em;


$primaryFont: Georgia, "Times New Roman", Times, serif;
$secondaryFont: Arial, Helvetica, sans-serif;