$pFontSize: 13px;
$pFontSizeLarge: 15px;
$pFontSizeSmall: 12px;

$h1FontSize: 35px;
$h2FontSize: 24px; // Mailchimp - 22.4px, product titles - 20px, 
$h3FontSize: 20px; // product titles - 20px,14px
$h4FontSize: 16px;
$h5FontSize: 13px;
$h6FontSize: 8px;


$primaryFont: Georgia, "Times New Roman", Times, serif;
$secondaryFont: Arial, Helvetica, sans-serif;