$h1fontSize: 3em;
$h2fontSize: 1.5em;
$h3fontSize: 1em;
$h4fontSize: 0.8em;
$h5fontSize: 0.7em;
$h6fontSize: 0.5em;


$primaryFont: Georgia, "Times New Roman", Times, serif;
$secondaryFont: Arial, Helvetica, sans-serif;