$base-font-size:16px;
$max-width: 1180px;

$site-url: 'https://glenpark.uk/';
$images: 'images/';


// COLORS

$maron: #5C020C;
$daisy: #54388c;
$kimberly: #5B5071;
$pink-chalk: #7660a3;

$inner-traditions-color: $maron;