$base-font-size:16px;
$max-width: 1180px;

$site-url: 'https://glenpark.uk/';
$images: 'images/';

// primal colors
$white: #ffffff;
$white-smoke: #f1f1f1;
$silver: #C0C0C0;
$nobel: #999999;
$grey: #7a7a7a;
$mortar: #595959;
$charcoal: #424242;
$black: #000000;



// custom colors
$maron: #5C020C;
$daisy: #54388c;
$pink-chalk: #7660a3; $scampi: #745ba7;
$bahama-blue: #1C4575;
$royal-blue: #3583d5;
$christi: #779D1E;
$olive: #466b00;
$gamboge: #e6930f;
$chocolate: #c66713;
$mandy: #CC3E58;
$falu-red: #8f153e;

// Purple Colors
$purplePrimary: $daisy;
$purpleSecondary: $scampi;

// Blue Colors
$bluePrimary: $bahama-blue;
$blueSecondary: $royal-blue;

// Green Colors
$greenPrimary: $olive;
$greenSecondary: $christi;

// Orange Colors
$orangePrimary: $chocolate;
$orangeSecondary: $gamboge;

// Pink Colors
$pinkPrimary: $falu-red;
$pinkSecondary: $mandy;

// text colors:
$textWhite: $white;
$text-dark-grey: $mortar;
$text-grey: $grey; // remove one of these
$text-light-grey: $nobel; // remove one of these
$textBlack: $black;

// backgrounds
$background-extra-light-grey: $white-smoke;
$background-light-grey: $silver;
$background-grey: $grey;
$background-dark-grey: $charcoal;
$background-black: $black;


// brand colors
$inner-traditions-color: $maron;

// override Boostrap defaults breakpoints ad container widths
$container-max-widths: (
  sm: 600px, // 540px
  md: 720px, // 720px
  lg: 840px, // 960px
  xl: 960px  // 1140px
);

$grid-breakpoints: (
  xs: 0,	 // 0
  sm: 600px, // 576px
  md: 720px, // 768px
  lg: 840px, // 992px
  xl: 960px // 1200px
);


/**
 * View Colors
 * TODO: Potentailly could be good to delete these and just use the primary and secondary colors
 */

// primary view colors
$home-primary-color: $purplePrimary;
$work-primary-color: $bluePrimary;
$books-primary-color: $greenPrimary;
$testimonials-primary-color: $orangePrimary;
$contact-primary-color: $pinkPrimary;

// secondary view colors:
$home-secondary-color: $purpleSecondary;
$work-secondary-color: $blueSecondary;
$books-secondary-color: $greenSecondary;
$testimonials-secondary-color: $orangeSecondary;
$contact-secondary-color: $pinkSecondary;