<a name="top" id="top"></a>

<div id="header-border"></div>

<div class="header" id="header">

    {% if site.header_slider.size > 1 or page.header_slider.size > 1 %}
    
    {% if page.header_slider.size > 1 %}
        {% assign slider = page.header_slider %}
    {% else %}
        {% assign slider = site.header_slider %}
    {%- endif -%}

    <div class="header-carousel">
            <div class="header-carousel__slides js-slick-carousel">

                    {%- for slide in slider -%}

                        <div class="header-carousel-slide">
                            <div class="header-carousel-slide__wrapper">
                                <img class="header-carousel-slide__background-image" src="{{ slide.img | prepend: '/images/' | relative_url }}" title="{{ slide.quote }}">
                                <div class="header-carousel-slide__content">
                                    <div class="header-carousel-slide__site-logo">
                                        <a href="{% link index.md %}">
                                            <img src="{{ '/images/chakraslogopurple.png' | relative_url }}" alt="" />
                                        </a>
                                    </div>
                                    <div class="header-carousel-slide__quote">
                                        <h2>&ldquo;{{ slide.quote }}&rdquo;</h2>
                                        <p class="{{ slide.credit_class }}">&#126; {{ slide.credit }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {%- endfor -%}

            </div>

    </div>
    {%- endif -%}

</div>
<!-- header ends -->

<nav class="navigation-bar">

    <div class="navigation-bar__navigation">
        {% include main-navigation.html %}
    </div>

    <div class="navigation-bar__info" id="submenustrip">
        {% include submenu-bar.html %}
        <p class="submenutextitalic">&hellip; bringing together the Alexander Technique and Chakra Therapy</p>
        {% include hamburger.html %}
    </div>
    
</nav>
