<div id="paypalExpressCheckout"></div>
<div id="jsCartScript"></div>
<script type="text/javascript">
  var paypalTag = document.createElement('script');
  paypalTag.src = "https://www.paypalobjects.com/api/checkout.js";
  paypalTag.setAttribute('data-version-4', '');
  paypalTag.addEventListener("load", function() {
    initialisePaypalExpressCheckout();
  });
  var jsCartTag = document.createElement('script');
  jsCartTag.src = "/assets/js/jscart.js";
  jsCartTag.addEventListener("load", function() {
    initialiseCart();
    var paypalCheckoutScriptEl = document.getElementById('paypalExpressCheckout');
    paypalCheckoutScriptEl.parentNode.insertBefore(paypalTag, paypalCheckoutScriptEl);
    paypalCheckoutScriptEl.parentNode.removeChild(paypalCheckoutScriptEl);
  });
  var jsCartScriptEl = document.getElementById('jsCartScript');
  jsCartScriptEl.parentNode.insertBefore(jsCartTag, jsCartScriptEl);
  jsCartScriptEl.parentNode.removeChild(jsCartScriptEl);
</script>