<nav class="navigation-bar">

    <div class="navigation-bar__navigation">
        {% include main-navigation.html %}
    </div>

    <div class="navigation-bar__info">

        {% include social-icons.html %}

        <p class="navigation-bar__tagline">&hellip; bringing together the Alexander Technique and Chakra Healing Therapy</p>
        
        <div class="navigation-bar__navigatin-toggle js-navigation-toggle">
            {% include hamburger.html %}
        </div>
        

    </div>
    
</nav>