<div id="about-glen" class="d-flex row">
	<div class="col-sm-9">
		<p><span class="boldp">Glen Park &#126; <em>Author, Teacher and Therapist</em>&hellip;</span><br />I left University with an honours degree in Philosophy and worked in the Professional Theatre for eleven years, In my mid-thirties, suffering from recurring back pain, I left the theatre and began training in the Alexander Technique.</p>
	</div>
	<div class="col-6 col-sm-3">
		<img src="{{ '/assets/img/april-2009-pictures-019.jpg' | relative_url }}" alt="Glen Park" style="max-width:100%;height: auto;margin: auto;">
	</div>
	<div class="col-6 col-sm-4">
		<img src="{{ '/assets/img/P1110553.jpg' | relative_url }}" alt="Glen working during a treatment session" style="max-width:100%;height: auto;margin: auto;">
	</div>
    <div class="col-sm-8">
    	<p>Fairly early on in my training I began to see auras and energy and was advised to train in psychic development in order to gain an understanding of what I was experiencing. I trained in England and then in California, at the same time as completing my training as an Alexander Teacher. Together, these were my first steps on a journey of spiritual development. I found the two disciplines worked very well together and this prompted me to write my first book <a href="{% link books.md %}">The Art of Changing</a>.</p>
	    <p>I call my work <a href="#" data-featherlight="#about-psycophysical" class="lightbox">Psychophysical Integration</a> because I work with the physical, emotional, mental and spiritual aspects of the Self. My work combines the <a href="#" data-featherlight="#about-alexander" class="lightbox">Alexander Technique</a> and <a href="#" data-featherlight="#about-chakras" class="lightbox">Chakra Therapy</a>, a philosophy of the chakras in which they represent the developmental unfolding of consciousness from the infant, through to maturity. This body centred work combined with meditation has formed the basis of my spiritual practice.</p>
    </div>
</div>