<div id="about-psycophysical" class="d-flex row">
	<div class="col-sm-6 col-md-4">
		<img src="{{ '/assets/img/P1110517.jpg' | relative_url }}" alt="Glen Park" style="max-width:100%;height: auto;margin: auto;">
	</div>
	<div class="col-sm-6 col-md-8">
		<p><span class="boldp">Psychophysical Integration&hellip;</span> This combines the Alexander Technique and Chakra Therapy. The Alexander Technique works with unhelpful patterns of physical behaviour and with Chakra Therapy we can complement that process by working with unhelpful psychological patterns that we have developed.</p>
	</div>
	<div class="col-sm-6 col-md-4">
		<img src="{{ '/assets/img/PICT0002.jpg' | relative_url }}" alt="Glen Working" style="max-width:100%;height: auto;margin: auto;">
	</div>
	<div class="col-sm-6 col-md-8">
		<p>This work can bring about expansion and growth at physical, psychological and spiritual levels. Certified Alexander Teachers who have trained in Chakra Therapy and combine the two disciplines may call their work Psychophysical Integration.</p>
	</div>    
</div>