
<div class="product-card__title-wrapper">
    {% if product.title %}
        <h2 class="boldsubtitle product-card__title">{{ product.title }}{%- if product.subtitle == Nil or product.subtitle.length == 0 -%}<span class="italicsubtitle"> by {{ product.author }}</span>{%- endif -%}</h2>
    {%- endif -%}

    {%- if product.subtitle -%}
        <h3 class="product-card__subtitle"><span class="subtitle">: {{ product.subtitle }}</span>{% if product.author %} <span class="italicsubtitle">by {{ product.author }}{%- endif -%}</span></h3>
    {%- endif -%}
</div>

{% if product.publication_date %}
    <div class="styled-tab">
        <h6 class="product-card__isbn">{{ product.imprint }} {{product.publication_date}} &nbsp; ISBN {{ product.isbn }}</h6>
    </div>
{%- endif -%}
