.testimonials {

	&.site-bg {
		background-image: url($site-url + $images + 'bodybgimageorange.jpg');
	}

	a {
		color: $testimonials-secondary-color;
		
		&:hover {
			color: $testimonials-primary-color;
		}
	}

	// TODO this could be improved - see mixin
	@include main-navigation($testimonials-primary-color, $testimonials-secondary-color);
	
	.navigation-bar {
		&__info {
			background-color:$testimonials-secondary-color;
		}
	}

	.runinheading {
		color: #e6930f;
	}


	h1 {
		color: #e6930f;
	}

	#header-border {
		background: #000000 url($site-url + $images + 'orange/header-border.gif') repeat top left;
	}


	.blockquote{
		color: #e6930f !important;
		border-left: 5px solid #e6930f;
	}

	.footer {
		&__banner {
			border-top-color: $testimonials-secondary-color;
		}

		&:after {
			filter: hue-rotate($orangeHue);
		}
	}

	/* CUSTOM ORANGE STYLES */

	.testimonials-wrapper {
		width: 100%;
		  max-width: 960px;
		  margin: 0 auto;
		  background-image: url($site-url + $images + 'topquotes.png');
		  background-repeat: no-repeat;
		  background-position: 0px 70px;
	  }

}

.decoration-quotes {
	background: url($site-url + $images+ 'topquotes.png') no-repeat left 5px top 0;
	padding-top:45px;
	&:after {
		content: "";
        clear: both;
        min-height: 105px;
        display:block;
        width: 100%;
		background: url($site-url + $images+ 'bottomquotes.png') no-repeat right 5px top 0;
	}
}