.home {

	&.site-bg {
		background-image: url($site-url + $images + 'bodybgimagepurple.jpg');
	}

	a {
		color: $home-secondary-color;

		&:hover {
			color: $home-primary-color;
		}

	}

	// TODO this could be improved - see mixin
	@include main-navigation($home-primary-color, $home-secondary-color);

	.styled-link {
		color: $white;
		&:hover {
			color:$white;
		}
	}

	.runinheading {
		color: #745ba7;
	}

	h1 {
		color: #745ba7;
		margin: 0;
	}

	#header-border {
		background: #000000 url($site-url + $images + 'purple/header-border.gif') repeat top left;
	}	
	
	#footer2 {
		border-top-color: $home-secondary-color;
	}

	.footer {
		&__banner {
			border-top-color: $home-secondary-color;
		}
	}

	.blockquote {
		color: #745ba7 !important;
		border-left: 5px solid $home-secondary-color;
	}


	/* CUSTOM PURPLE STYLES */

	// custom to the home page
	.sidebar-itempurple {
		float: left;
		width: 100%;
		margin-bottom: 20px;
		padding: 20px 35px 20px 35px;
		background: rgb(136,172,192);
		background: linear-gradient(90deg, rgba(136,172,192,0.4920343137254902) 0%, rgba(107,50,149,1) 100%);
		//background-image: url($site-url + $images + 'sidebarpurplebg.png');
		//background-repeat: repeat-y;
		//background-position: right top;
		border-radius:5px;
	}


	.sidebartitleimagespurple {
		margin-left: -35px;
		//padding: 0 0 10px 0;
		outline: 0;
	}

}

.container-profile-glen {
	@extend .image-overflow;
	width:190px;
	height:330px
}