.work {

	&.site-bg {
		background-image: url($site-url + $images + 'bodybgimageblue.jpg');
	}


	a {
		color: $work-secondary-color;
		
		&:hover {
			color: $work-primary-color;
		}
	}

    // TODO this could be improved - see mixin
	@include main-navigation($work-primary-color, $work-secondary-color);

	.navigation-bar {
		&__info {
			background-color:$work-secondary-color;
		}
	}

  


  // p {
  // 	font-size: 13px;
  // 	line-height: 130%;
  // 	font-weight: lighter;
  // }

  .boldsubtitle14blue{
  	padding-top: 10px;
  	font-size: 14px;
  	font-weight: bold;
  	color: #1c4575;
  	letter-spacing:normal;
  	line-height: 110%;
  	display: block;
  }


  .bulletblue {
  	color: #3583d5;
  	font-weight: bold;
  	font-size: 18px;
  }



  .subheadingblue {
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	font-size: 20px;
  	color: #3583d5;
  	letter-spacing: -1px;
  	text-transform: lowercase;
  	padding: 20px 0px 0px 0px;
  	line-height: 110%;
  	font-weight: bold;
  	display: block;
  }

  .runinheading {
  	color: #3583d5;
  	text-transform: lowercase;
  	font-weight: bold;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	margin: 0;
  	padding: 0;
  	font-size: 2.2em;
  }




  #submenustrip {
  	margin: 0px auto 20px auto;
  	padding: 0 20px 0 0;
  	position: relative;
  	width: 940px;
  	height: 40px;
  	background-color: #3583d5;
  	text-align: right;
  	top: -20px;
  	-moz-border-radius-bottomright: 5px;
  	-moz-border-radius-bottomleft: 5px;
  	-webkit-border-bottom-right-radius: 5px;
  	-webkit-border-bottom-left-radius: 4px;
  	border-radius-bottomright: 5px;
  	border-radius-bottomleft: 5px;
  	-khtml-border-radius-bottomright: 5px;
  	-khtml-border-radius-bottomleft: 5px;
  	}




  h1 {
  	color: #3583d5;
  	text-transform: lowercase;
  	font-weight: bold;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	margin: 0;
  	padding: 0;
  }

  h1 a, .anchor-title { color: #3583d5 !important; }
  h1 a:hover, .anchor-title:hover { color: #1c4575 !important; }

  #header-border {
  	background: #000000 url($site-url + $images + 'blue/header-border.gif') repeat top left;
  }


  #logoblue {
  	margin: 0;
  	position: relative;
  	left: -20px;
  	bottom: 60px;
  }


  .blockquoteblue {
  	color: #3583d5 !important;
  	display: block;
  	padding: 10px 30px 10px 15px;
  	border-left: 5px solid #3583d5;
  	margin: 30px 30px 30px 30px;
  	font-style: italic;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-size: 20px;
  	line-height: 130%;
  }

	#footer2 {
		border-top-color: $work-primary-color;
	}

}
