.contact {

	a {
		color: $contact-secondary-color;
		
		&:hover {
			color: $contact-primary-color;
		}
	}

  // TODO this could be improved - see mixin
	@include main-navigation($contact-primary-color, $contact-secondary-color);

	.navigation-bar {
		&__info {
			background-color:$contact-secondary-color;
		}
	}

	h1 {
		color: #cc3e58;
	}

	#header-border {
		background: #000000 url($site-url + $images + 'pink/header-border.gif') repeat top left;
	}

	.runinheading {
		color: #cc3e58;
	}

	.blockquote {
		color: #cc3e58 !important;
		border-left: 5px solid #cc3e58;
	}

	.footer {
		&__banner {
			border-top-color: $contact-secondary-color;
		}

		&:after {
			filter: hue-rotate($pinkHue);
		}
	}

	.large-italic {
		a {
			color: #cc3e58;

			&:hover {
				color: #8f153e;
			}
		}
	}
}
