.home {

	&.site-bg {
		background-image: url($site-url + $images + 'bodybgimagepurple.jpg');
	}

	a {
		color: $home-secondary-color;

		&:hover {
			color: $home-primary-color;
		}

	}

	// TODO this could be improved - see mixin
	@include main-navigation($home-primary-color, $home-secondary-color);

	.styled-link {
		color: $white;
		&:hover {
			color:$white;
		}
	}

	.runinheading {
		color: #745ba7;
	}

	h1 {
		color: #745ba7;
		margin: 0;
	}

	// missing h1 tag
//   h1 a, .anchor-title { color: #745ba7 !important; }
//   h1 a:hover, .anchor-title:hover { color: #54388c !important; }

	#header-border {
		background: #000000 url($site-url + $images + 'purple/header-border.gif') repeat top left;
	}	
	
	#footer2 {
		border-top-color: $home-secondary-color;
	}



	// custom to the home page
	.sidebar-itempurple {
		float: left;
		width: 230px;
		margin-bottom: 20px;
		padding: 20px 35px 20px 35px;
		background-image: url($site-url + $images + 'sidebarpurplebg.png');
		background-repeat: repeat-y;
		border-radius:5px;
		background-position: right top;
	}


	.sidebartitleimagespurple {
		margin-left: -35px;
		padding: 0 0 10px 0;
		outline: 0;
	}


	.blockquotepurple {
		color: #745ba7 !important;
		display: block;
		padding: 10px 30px 10px 15px;
		border-left: 5px solid $home-secondary-color;
		margin: 30px 30px 30px 30px;
		font-style: italic;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 20px;
		line-height: 130%;
	}

}
