.work {

	&.site-bg {
		background-image: url($site-url + $images + 'bodybgimageblue.jpg');
	}


	a {
		color: $work-secondary-color;
		
		&:hover {
			color: $work-primary-color;
		}
	}

    // TODO this could be improved - see mixin
	@include main-navigation($work-primary-color, $work-secondary-color);

	.navigation-bar {
		&__info {
			background-color:$work-secondary-color;
		}
	}

	.runinheading {
		color: #3583d5;
	}

	h1 {
		color: #3583d5;
	}

	#header-border {
		background: #000000 url($site-url + $images + 'blue/header-border.gif') repeat top left;
	}

	.blockquote {
		color: #3583d5 !important;
		border-left: 5px solid #3583d5;
	}

	.footer {
		&__banner {
			border-top-color: $work-primary-color;
		}

		&:after {
			filter: hue-rotate($blueHue);
		}
	}

	.list-item-bullet {
		color: #3583d5;
	}
  



  /* CUSTOM BLUE STYLES*/

  .boldsubtitle14blue{
  	padding-top: 10px;
  	font-size: 14px;
  	font-weight: bold;
  	color: #1c4575;
  	letter-spacing:normal;
  	line-height: 110%;
  	display: block;
  }

  .subheadingblue {
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	font-size: 20px;
  	color: #3583d5;
  	letter-spacing: -1px;
  	text-transform: lowercase;
  	padding: 20px 0px 0px 0px;
  	line-height: 110%;
  	font-weight: bold;
  	display: block;
  }

}
