.books {

	// &.site-bg {
	// 	background-image: url($site-url + $images + 'bodybgimagelime.jpg');
	// }

	a {
		color: $books-secondary-color;
		
		&:hover {
			color: $books-primary-color;
		}
	}

      // TODO this could be improved - see mixin
	@include main-navigation($books-primary-color, $books-secondary-color);

	.navigation-bar {
		&__info {
			background-color:$books-secondary-color;
		}
	}



  .bulletlime {
  	color:#779d1e;
  	font-weight: bold;
  	font-size: 16px;
  }

  .runinheading {
  	color: #779d1e;
  }


  .boxheadinglime {
  	color: #779d1e;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	margin: 0;
  	padding: 0;
  	font-size: 20px;
  	line-height: 130%;
  }





  h1 {
  	color: #779d1e;
  }

  #header-border {
  	background: #000000 url($site-url + $images + 'lime/header-border.gif') repeat top left;
  }

  .blockquotelime {
  	color: #779d1e !important;
  	display: block;
  	padding: 10px 30px 10px 15px;
  	border-left: 5px solid #779d1e;
  	margin: 30px 30px 30px 30px;
  	font-style: italic;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-size: 20px;
  	line-height: 130%;
  }

	#footer2 {
		border-top-color: $books-secondary-color;
	}

}
