.books {

	// &.site-bg {
	// 	background-image: url($site-url + $images + 'bodybgimagelime.jpg');
	// }

	a {
		color: $books-secondary-color;
		
		&:hover {
			color: $books-primary-color;
		}
	}

      // TODO this could be improved - see mixin
	@include main-navigation($books-primary-color, $books-secondary-color);

	.navigation-bar {
		&__info {
			background-color:$books-secondary-color;
		}
	}

	h1 {
		color: #779d1e;
	}

	#header-border {
		background: #000000 url($site-url + $images + 'lime/header-border.gif') repeat top left;
	}

	.blockquote {
		color: #779d1e !important;
		border-left: 5px solid #779d1e;
	}

	.footer {
		&__banner {
			border-top-color: $books-secondary-color;
		}
	}
	
	.list-item-bullet {
		color:#779d1e;
	}

	.runinheading {
		color: #779d1e;
	}

}
