*, *:after, *:before {
  box-sizing: border-box;
}

// img {
//     display: block;
//     max-width: 100%;
//     height: auto;
// }

.site-bg {
    background-repeat: no-repeat;
    background-position: center top;
}

#content {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.content-block {
	width: 100%;
	position: relative;
	margin: 0px auto;
}

.article-content { 
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.sidebar-item {
	float: left;
	width: 250px;
	margin-bottom: 30px;
	padding: 10px 25px 0 25px;
}

.max-width-none {
  max-width: none;
}


// TODO remove duplication in .padded
.padded {
    font-family: Arial, Helvetica, sans-serif;
    color: #7a7a7a;
    font-size: 12px;
    padding: 1px 4px;
    display:block;
    margin-top: 20px;
    margin-left: -7px;

    a {
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
      font-size: 12px;
      padding: 3px 5px;
      text-decoration: none;
      background-color: transparent;
      background-image: url($site-url + $images + 'textlinkbg.png');
      background-repeat: repeat;
      border-radius:4px;

      &:hover {
          font-family: Arial, Helvetica, sans-serif;
          color: #ffffff;
          padding: 3px 5px;
          text-decoration: none;
          background-color: transparent;
          background-image: url($site-url + $images + 'textlinkbghover.png');
          background-repeat: repeat;
          border-radius:4px;
      }
  }
}