#content {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.content-block {
	width: 100%;
	position: relative;
	margin: 0px auto;
}

.article-content { 
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.sidebar-item {
	float: left;
	width: 250px;
	margin-bottom: 30px;
	padding: 10px 25px 0 25px;
}
