#socialmediacontainer {
    height: 70px;
    width: 250px;
    padding-top: 10px;
    background-image: url($site-url + $images + 'socialmediacontainerbg.png');
    background-repeat: repeat-y;
    background-position: left top;
    padding-left: 10px;
    border-radius:5px;
}