.footer-navigation {
    a {
        font-size: 12px;
        font-weight: normal;
        letter-spacing:normal;
        font-family: Arial, Helvetica, sans-serif;
        color: #745ba7;
        font-weight: bold;

        &:hover {
            color: #54388c;
            font-weight: bold;
        }
    }
}