/**
 * Header Carousel Components
 */

.header-carousel {
  height: auto;
  background-color: black;
  max-height: 500px;
  overflow: hidden;

  &__slides {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

}


.header-carousel-slide {
  height: 100%;
  position: relative;

  &__background {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    height: 100%;
  }

  &__site-logo-wrapper {}

  &__site-logo-link {}

  &__site-logo-image {

    // TODO use global responsive image to handle this css
    width: 100%;
    max-width: 100%;
  }

  &__quote {
    margin-top: rem(50px);
    margin-bottom: rem(50px);
  }

}