/**
 * Header Carousel Components
 */

.header-carousel {
  height: auto;
  background-color: black;
  max-height: 500px;
  overflow: hidden;

  &__track {
    height: auto;
  }

  &__slides {
    display: flex;
    justify-content: center;
    height: auto;
  }

}


.header-carousel-slide {
  display: block;
  height: auto;
  margin: auto;

  &__wrapper {
    position: relative;
    max-width: 1300px;
    margin: auto;
  }

  &__background-image {
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right:0;

  }

  &__site-logo {
    margin-top: -60px;
    padding-left: 150px;
  }

  &__quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -100px;
    margin-left: -120px;
    z-index: 1;
  }

}