.navigation-bar {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: -100px;

      .submenutextitalic {
        color: #ffffff;
        font-family:Georgia, "Times New Roman", Times, serif;
        font-style:italic;
        font-size: 20px;
        font-weight:lighter;
        line-height: 40px;
        margin: 0;
    }
    
    
    #smalliconscontainer {
        height: 40px;
        width: 360px;
        position:absolute;
        left: 0px;
        top:0px;
        padding: 0;
        margin: 0;
    }
    
    .emailicon{
        height: 40px;
        width: 33px;
        overflow: hidden;
        display: block;
        background-image: url($site-url + $images + 'emailicon.png');
        background-repeat: no-repeat;
        background-position: center top;
        position: absolute;
        top: 0px;
        left: 16px;
        }
    
    .emailicon:hover{
        background-position: center bottom;
        }
    
    .infoicon {
        height: 40px;
        width: 33px;
        overflow: hidden;
        display: block;
        background-image: url($site-url + $images + 'infoicon.png');
        background-repeat: no-repeat;
        background-position: center top;
        position: absolute;
        top: 0px;
        left: 49px;
        }
    
    .infoicon:hover{
        background-position: center bottom;
        }
    
    .homeicon {
        height: 40px;
        width: 33px;
        overflow: hidden;
        display: block;
        background-image: url($site-url + $images + 'homeicon.png');
        background-repeat: no-repeat;
        background-position: center top;
        position: absolute;
        top: 0px;
        left: 82px;
        }
    
    .homeicon:hover{
        background-position: center bottom;
        }
    
    .facebookicon {
        height: 40px;
        width: 33px;
        overflow: hidden;
        display: block;
        background-image: url($site-url + $images + 'facebookicon.png');
        background-repeat: no-repeat;
        background-position: center top;
        position: absolute;
        top: 0px;
        left: 115px;
        }
    
    .facebookicon:hover{
        background-position: center bottom;
        }

  }

