.product-card {
    margin-bottom: rem(80px);

    &__content {
        display: flex;
    }

    &__image-wrapper {
        width: calc(34% - 10px);
        padding-right: 10px;

        &--large {
            width: calc(75% - 10px);
        }
    }

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }

    &__info {
        width: 66%;
    }

    &__title-wrapper {
        margin-bottom: rem(25px);
    }

    &__title {
        font-weight: 700; // .boldsubtitle
        font-family: inherit; // TODO overriding h3 font styles - potentially remove once fonts have been reviewed
        text-shadow: none; // TODO overriding h3 font styles - potentially remove once fonts have been reviewed
        font-style: normal; // TODO overriding h3 font styles - potentially remove once fonts have been reviewed
        margin: 0;
        display: inline;
    }

    &__subtitle {
        display: inline;
        margin: 0;
    }

    // TODO these styles could be imroved
    &__buy_now_btn {
        width: 100%;
        display: flex !important; // override paypalbtn styles
        align-items: center;
        input {
            margin: 0 10px
        }
    }

    &--right {
        flex-direction: row-reverse;

        .product-card {
            
            &__image {
                
                padding-right: 0;
                padding-left: 10px;
                order: 2;
    
            }

        }
    
    }

}

// TODO add to current clas structure or move somewhere more generic (class currently not in use)
.notificationbtn {
    height: 66px;
    width: 299px;
    overflow: hidden;
    display: block;
    background-image: url($site-url + $images + 'notificationbtn.png');
    background-repeat: no-repeat;
    background-position: center top;
    float:left;
    padding: 0;
    margin: 20px 0px 20px 0px;
    &:hover{
        float:left;
        background-position: center bottom;
    }
}



.buycdbtn {
	height: 28px;
	width: 299px;
	overflow: hidden;
	display: block;
	background-image: url($site-url + $images + 'buycdbtn.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0;
	margin: 20px 0px 20px 0px;
	&:hover{
		background-position: center bottom;
	}
}