.product-retailers {

    margin-bottom: 50px;

    &__cta {
        color: #779d1e;
        font-family: Georgia,Times New Roman,Times,serif;
        font-style: italic;
        font-size: 20px;
        letter-spacing: normal;
        line-height: 110%;
        font-weight: 700;
        margin: 1em 0;

    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

}

.retailer-link {

    &__wrapper {
        width: 100%;
        margin-bottom: rem(10px);

        @include breakpoint(small-handset-landscape) {
            width: calc(50% - 5px);

            &:nth-child(odd) {
                margin-right: 10px;
            }

        }
        @include breakpoint(large-tablet) {
            width: calc(25% - 7.5px);
            margin-right: 10px;

            &:last-child() {
                margin-right: 0;
            }
        }
    }

    &__logo {
        width: 100%;
        display: block;
        padding: 10px 20px;
        box-sizing: border-box;
        border: 1px #ddd solid;
        border-radius: 5px;
    }

}