h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {

  font-weight: normal;
  display: block;

}

h1 { font-size: 3em; margin: .67em 0; }
h2 {
  font-size: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: lighter;
  line-height: 120%;
  left: 0p/x;
  text-shadow: 2px 2px 2px #424242;
}
h3 {
  font-size: 1em;
  margin: 20px 0;
}
h4 {
  font-size: 0.8em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.7em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.5em;
  margin: 5px 0px 0px 0px;
}


ul { list-style: circle; padding-left: 40px; }
ol { list-style: decimal; padding-left: 40px; }
